<%- include('partials/head', { pageTitle: 'Actualizar Contraseña' }) %>
<link rel="stylesheet" href="/stylesheets/recPass.css" />

<div class="container-recPass">
  <h4 class="recPassTitle">Actualizar Contraseña</h4>
  <form action="/updatePass" method="POST">
      <label for="email">Email:</label>
      <input
          type="email"
          id="email"
          name="email"
          placeholder="Ingrese su correo"
          value="<%= email %>"
          readonly
      />

      <label for="newPassword">Nueva Contraseña:</label>
      <input
          type="password"
          id="newPassword"
          name="newPassword"
          placeholder="Ingrese su nueva contraseña"
          required
      />

      <div class="btn-container">
          <button type="submit">Actualizar Contraseña</button>
          <a href="/login" class="btn-salir">Salir</a>
      </div>
  </form>
</div>