body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(14, 55, 58);
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container-register {
    margin: 15px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    width: 350px;
  }
  
  .registroTitle{
    margin-top: 5px;
    color: black;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color:black ;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    margin-bottom: 15px;
    background-color: #61bca7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #298a73;
  }

  button{
    display: block;
    padding: 7px;
    background-color: #14af8b;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 3s ease;
  }
  
  button:hover{
    background-color: #12624f;
  }
  
  a{
    text-decoration: none;
    color: black
  }
  
  
  